.wrapper {
    font-size: 1.4rem;
    border-radius: 4px;
    padding: 9px 20px;
    font-weight: 800;
    min-width: 100px;
    background-color: var(--white);
    border: 1px solid transparent;
    user-select: none;
    display: inline-flex;
    align-items: center;
    justify-content: center;

    + .wrapper {
        margin-left: 1.6rem;
    }

    &.disabled {
        pointer-events: none;
        opacity: 0.6;
    }
}

// Button types
.rounded {
    box-shadow: 0 2px 8px rgb(0 0 0 / 6%);
    border-radius: 52px;
    border-color: rgba(22, 24, 35, 0.12);
    font-size: 1.4rem;

    &:hover {
        border-color: rgba(22, 24, 35, 0.2);
        background-color: rgba(255, 255, 255, 1);
    }
}

.primary {
    background-color: var(--primary);
    color: var(--white);
    border-color: var(--primary);

    &:hover {
        border-color: var(--primary);
        background: linear-gradient(0deg, rgba(0, 0, 0, 0.06), rgba(0, 0, 0, 0.06)), #fe2c55;
    }

    &:active {
        background: linear-gradient(0deg, rgba(0, 0, 0, 0.12), rgba(0, 0, 0, 0.12)), #fe2c55;
    }
}

.outline {
    color: var(--primary);
    border-color: currentColor;

    &:hover {
        border-color: currentColor;

        background-color: rgba(254, 44, 85, 0.06);
    }
}

.text {
    border: 1px solid rgba(22, 24, 35, 0.12);

    &:hover {
        background-color: rgba(22, 24, 35, 0.03);
    }
}

//? Disable

//! Button sizes

.small {
    min-width: 88px;
    font-weight: 600;
    padding: 4px 8px;
}

.large {
    min-width: 144px;
    font-weight: 800;
    padding: 14px 16px;
}

.icon + .title,
.title + .icon {
    margin-left: 10px;
}
